$bg: #2e2e2e;
$light-bg: #4e4e4e;
$dark: #B34D5E;
$light: #D35D6E;
$super-light: #d0aeb3;
$text: #b0b4bc;

* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: 'JetBrains Mono ExtraBold', monospace;
}

//Global Styles
.bar {
  color: $text;
  border-radius: 6px;
}

.seperator {
  all: unset;
  color: $dark;
  opacity: 0.6;
  padding: 0 4px;
}

// bar style

// sysinfo styles
.sysinfo-box {
  padding: 0 20px;
  border-radius: 0 0 6px 6px;
  background-color: $bg;
}

.slider-box scale trough {
  all: unset;
  min-width: 50px;
  min-height: 10px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 26px;
  background-color: $light-bg;
}

.slider-box scale trough highlight {
  border-radius: 26px;
  background-color: $light;
}

.time-btn {
  color: #c2c8d5;
  margin: 0 0 4px 8px;
  padding: 1px 12px 0;
  min-width: 100px;
  border-radius: 0 0 6px 6px;
  background-color: $dark;
}

.super-light-icon {
  color: $super-light;
}

// workspaces styles
.workspaces {
  padding: 2px 20px 4px;
  border-radius: 0 0 6px 6px;
  background-color: $bg;
}

.workspace {
  margin: 0 1px;
  padding: 0 10px;
  min-width: 8px;
  border-radius: 12px;
  background-color: $light-bg;
}

.workspace:hover {
  background-color: $light;
}

// powermnu style
.powermenu-box {
  color: $super-light;
  padding: 8px;
  font-size: xx-large;
  margin-right: 8px;
  border-radius: 12px;
  background-color: $bg;
}

.powermenu-box button {
  border-radius: 12px;
  background-color: $light-bg;
}

.powermenu-box button:hover {
  color: $bg;
  background-color: $light;
}

/////////////////////// greeter ////////////////
.greet-main-box {
  background-color: $bg;
  border-radius: 12%;
}

.greet-box {
  font-size: xx-large;
  background-color: $light-bg;
  border-radius: 12%;
}

.pacifico {
  font-family: "Pacifico";
}

.greet-text {
  font-size: larger;
}
